<app-topbar-admin></app-topbar-admin>
<div class="container mt-3 " >
    <div class="margin">
        <p class="textH">เพิ่มสินค้า</p>
        <hr>
        <form [formGroup]="productForm" (ngSubmit)="onSubmit()" >
            <div class="test">
                <p class="textH">ชื่อสินค้า</p>
                <div class="in row">
                    <div class="dropdown col-md-5 row">
                        <p>แบรนด์</p>
                        <div class="form-group">
                            <select class="form-select" id="exampleFormControlSelect1" formControlName="brand_id"  required>
                            <option *ngFor="let brand of Brand" type="number" value="{{brand.id}}"  >{{brand.name}}</option>
                            </select>
                        </div>
                    
                    </div>
                    <span class="col-md-2 row"></span>
                    <div class="dropdown col-md-5 row">
                        <p>รุ่น</p>
                        <div class="form-group">
                            <select class="form-select" id="exampleFormControlSelect1" formControlName="model_id"  required>
                            <option *ngFor="let model of Model" value="{{model.id}}">{{model.name}}</option>
                            </select>
                        </div>
                       
                    </div>
                </div>
                <hr>
            
            
            </div>
        
        <!-- <div class="test ">
            <p class="textH">รูปสินค้า</p>
            <div class="in row">
                <button type="button" class="btn bg-light col-md-2">เพิ่มรูปสินค้า</button>
            </div>
        <input type="text" matInput placeholder="แก้เป็นใส่รูป" formControlName="product_img" required>
            <hr>
        </div> -->
        
       
            <div class="test">
                <p class="textH">ตัวเลือกสินค้า</p>
                <div class="in row">
                    <div class="dropdown col-md-3 row">
                        <div class="form-group">
                            <label >สี</label>
                            <select class="form-select" id="exampleFormControlSelect1" formControlName="color_id"  required >
                            <option *ngFor="let color of Color" value="{{color.id}}">{{color.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="dropdown col-md-3">
                        <div class="form-group">
                            <label >ขนาดพื้นที่</label>
                            <select class="form-select" id="exampleFormControlSelect1" formControlName="storage_id"  required>
                            <option *ngFor="let storage of Storage" value="{{storage.id}}">{{storage.size}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 form-group">
                        <label ></label>
                        <input type="text" class="form-control" placeholder="จำนวนสินค้า" formControlName="amount"  required>
                    </div>
                    <div class="col-md-3 form-group">
                        <label ></label>
                        <input type="text" class="form-control" placeholder="รายคาสินค้า" formControlName="price"  required>
                    </div>
                </div>
                
                <hr>
            </div>
        
        
            <div class="test">
                <p class="textH">สเปคของสินค้า</p>
                <div class="in col-md-6 form-group">
                    <input type="text" class="form-control" placeholder="">
                </div>
                
                <!-- <input type="text" matInput placeholder="" formControlName="" required> -->
                <hr>
            </div>
        
            <div class="test">
                <p class="textH">รายละเอียดเพิ่มเติม</p>
                <div class="in col-md-12 form-group">
                    <textarea class="form-control" rows="4" formControlName="description"  required></textarea>
                </div>
                <div class="d-flex flex-row-reverse">
                    <button type="submit" class="btn btn-primary col-md-2">เพิ่มสินค้า</button>
                </div>
            </div>
        
        
         
        </form>

        

    </div>
    
</div>
