<app-topbar-admin></app-topbar-admin>

<div class="container mt-3 " >
    <div class="d-flex justify-content between flex-wrap flex-md-noward align-item-center pt-2 pb-2 md-3 border-bottom ">
        <p class="col-sm-10" class="textH">สินค้าทั้งหมด</p>
        <span></span>
        <input class="col-sm-2" type="text" placeholder="ค้นหา" >
    </div >
        
    <div class="row pt-2 border-bottom px-5" >
        <div class="col-md-3 row" >
            <p class="col-md-4">หมวดหมู่</p>
            <mat-form-field appearance="fill" class="col-md-8">
                <mat-label >ทั้งหมด</mat-label>
                <mat-select >
                    <mat-option *ngFor="let categories of Categories" value="{{categories.id}}">{{categories.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-3 row">
            <p class="col-md-3">แบร์น</p>
            <mat-form-field appearance="fill" class="col-md-9">
                <mat-label>Choose an option</mat-label>
                <mat-select >
                <mat-option value="option1">Option 1</mat-option>
                <mat-option value="option2" >Option 2 (disabled)</mat-option>
                <mat-option value="option3">Option 3</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-3 row">
            <p class="col-md-4">เรียงตาม</p>
            <mat-form-field appearance="fill" class="col-md-8">
                <mat-label>Choose an option</mat-label>
                <mat-select >
                <mat-option value="option1">Option 1</mat-option>
                <mat-option value="option2" >Option 2 (disabled)</mat-option>
                <mat-option value="option3">Option 3</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <span class="col-md-1"></span>
        <div class="col-md-2" >
            <button class=" col-md-12 btn btn-primary  btn-block" routerLink="/add-product-admin"> เพิ่มรายการสินค้า </button>
        </div> 
    </div>

    <div class="table">
        <table class="col-md-12">
            <tr>
                <th>รหัสสินค้า</th>
                <th>ชื่อสินค้า</th>
                <th>แบร์นด์</th>
                <th>หมวดหมู่</th>
                <th>ราคา</th>
                <th>จำนวน</th>
            </tr>
            <tr *ngFor="let product of Products" class="detail" routerLink="/edit-product-admin">
                <td>{{ product.id }}</td>
                <td>{{ product.model }}</td>
                <td>{{ product.brand }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.amount }}</td>
            </tr>
        </table>
    </div>

    <!-- <div *ngFor="let product of products">
        
        {{product.model}}
        {{product.brand}}
        {{product.category}}
        {{product.price}}
        {{product.amount}}
    </div> -->
    
   
    
    <!-- <div  class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Description</th>
                    <th class="text-center" scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of Products; let i = index">
                    <th scope="row">{{product._id}}</th>
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.description}}</td>
                    <td class="text-center">
                        <button class="btn btn-sm btn-primary" routerLink="/edit-product-admin/{{product._id}}"> Edit </button>
                        <button class="btn btn-sm btn-danger" (click)="delete(product._id, i)">delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div> -->
</div>

