<app-topbar-admin></app-topbar-admin>

<div class="container mt-3" >
    <div class="d-flex justify-content between flex-wrap flex-md-noward align-item-center pt-2 pb-2 md-3 border-bottom">
        <p class="textH mt-3">สินค้าทั้งหมด</p>
        <span></span>
        <button class="btn btn-sm btn-primary" routerLink="/add-product-admin"> เพิ่มรายการสินค้า </button>
    </div>
    
    <div  class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Description</th>
                    <th class="text-center" scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of Products; let i = index">
                    <th scope="row">{{product._id}}</th>
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.description}}</td>
                    <td class="text-center">
                        <button class="btn btn-sm btn-primary" routerLink="/edit-product-admin/{{product._id}}"> Edit </button>
                        <button class="btn btn-sm btn-danger" (click)="delete(product._id, i)">delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- <mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <div class="b">
            <p>จัดเรียงตาม:</p>
            <div class="dropdown" class="btn dropdown-toggle btn-secondary btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                สินค้าใหม่
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">สินค้าใหม่</a>
                <a class="dropdown-item" href="#">สินค้าเก่า</a>
                <a class="dropdown-item" href="#">Something else </a>
                </div>
            </div>
        </div>
        

        <div class="a">
            <p class="fontsidebar">จัดเเยกตาม:</p>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked/>
              <label class="form-check-label" for="exampleRadios1"> มือถือ </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" checked/>
              <label class="form-check-label" for="exampleRadios1"> อุปกรณ์เสริม </label>
            </div>
            <p>แบรนด์</p>
            <div class="form-check"  *ngFor="let banner of banners ; index as productId"  >
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked/>
                <label class="form-check-label" for="exampleRadios1"> {{banner.band}} </label>
            </div>
        </div>
      
        <div class="c">
            <p>ราคา:</p>
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                <mat-button-toggle value="bold">ต่ำสุด</mat-button-toggle>
                <mat-button-toggle value="italic">สูงสุด</mat-button-toggle>
              </mat-button-toggle-group>
          
        </div>
    </mat-drawer>

    <div class="products-select">
        <div class="bar">
            <p class="textH">ทั้งหมด</p>
            <span></span>
           <button class="submitButton"><a style="color: white;">เพิ่มรายการสินค้า</a></button>
        </div>
        <div class="products">
            <mat-card *ngFor="let product of products ; index as productId">
                <img mat-card-image src="{{ product.src}}" [routerLink]="['/products', product.id]" >
                <mat-card-content>
                    <div class="edit">
                        {{product.brand}}
                        <span></span>
                        <button [routerLink]="['/edit-product-admin']" >edit</button>
                    </div>
                    {{product.name}}<br>
                    ราคา {{product.price}}
                </mat-card-content>
            </mat-card>
        </div>
        
    </div>
</mat-drawer-container> -->


