.test{
    display: flex;
}
.fill-in{
    width: 70%;
    height: 650px;
    overflow: auto;
    .a{
        padding: 0 10%;
        margin-bottom: 50px;
        mat-form-field{
            width: 100%;
        }
        .location{
            border-radius: 12px;
        }
        .payment{
            border: rgb(211, 209, 209) solid 1px;
            border-radius: 12px;
            padding: 2%;
            margin-bottom: 10px;
        }
        table{
            width: 100%;
            tr,td{
                padding: 10px;
            }
        }
    }   
}
.sumprice{
    margin: 2% 1% auto 1%;
    width: 30%;
    border: rgb(211, 209, 209) solid 1px; 
    .textH{
        margin: 3%;
    }
    .detail{
        padding: 3%;
        background-color: rgb(241, 241, 241);
        display: flex;
        justify-content: space-between;
    .amount{
        text-align: end;
    }
    }
}