<div class="test">
    <div class="fill-in">
        <p class="textH1">การชำระเงิน</p>
        <hr>
        <p class="textH">ข้อมูลการจัดส่ง</p>
        <mat-form-field >
            <mat-label>ชื่อ-สกุล ผู้รับ</mat-label>
            <input matInput  value="xx">
        </mat-form-field>
        <mat-form-field >
            <mat-label>เบอร์โทรศัพท์ติดต่อ</mat-label>
            <input matInput  value="xx">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>ที่อยู่การจัดส่ง</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>
        <section >
            <mat-checkbox ><p>ใบกำกับภาษี</p></mat-checkbox>
        </section>
        <p class="textH">ช่องทางการชำระเงิน</p>
        <button>
            <mat-checkbox>ชำระเงินปลายทาง</mat-checkbox>
        </button><br>
        <button>
            <mat-checkbox>บัตรเคดิต</mat-checkbox>
        </button><br>
        <button ><a class="textP">บันทึกข้อมูล</a></button> 
        
       
        
          
    </div>
</div>
