<app-topbar-admin></app-topbar-admin>
<!-- <div class="container mt-3">
  <h1>update data</h1>
  <div class="row justify-content center mt-3">
      <div class="col-md-12">
          <form [formGroup]="updateForm" (ngSubmit)="onUpdate()">
              <div class="form-gruop">
                 <label for="name">Name</label> 
                 <input type="text" class="form-control" formControlName="name" required>
              </div>
              <div class="form-gruop">
                  <label for="name">Price</label> 
                  <input type="text" class="form-control" formControlName="price" required>
               </div>
               <div class="form-gruop">
                  <label for="name">Description</label> 
                  <input type="text" class="form-control" formControlName="description" required>
               </div>
               <div class="form-gruop">
                  <button class="btn btn-primary btn-block" type="submit">update product</button>
               </div>
          </form>
      </div>
  </div> 

</div> -->
<div class="admin">
  <div class="top"> 
    <a [routerLink]="['/product-list-admin']"> 
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="30"
        height="30"
        fill="currentColor"
        class="bi bi-arrow-left-circle"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"
        />
      </svg>
    </a>
    <p class="textH">แก้ไขสินค้า</p>
  </div>
  
  <hr />
  <p class="textH">ชื่อสินค้า</p>
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">แบรนด์</label>
      <input
        type="email"
        class="form-control form-control-lg"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">รุ่น</label>
      <input class="form-control form-control-lg" id="exampleInputPassword1" />
    </div>
  </form>
  <hr />

  <div class="addpicproduct">
    <p class="textH">รูปสินค้า</p>
    <div class="card">
      <div class="card-body">
        <span> </span>
        <a> <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-x"
            viewBox="0 0 16 16"
          >
            <path
              d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
            />
          </svg></a>

       
      </div>
      <button type="button" class="btn btn-outline-primary">
        เพิ่มรูปสินค้า
      </button>
    </div>
  </div>
  <hr />
  <p class="textH">ตัวเลือกสินค้า</p>
  <div class="selectproduct">
    <div class="dropdown">
      <button
        class="btn dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        สี
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">red</a>
        <a class="dropdown-item" href="#">black</a>
        <a class="dropdown-item" href="#">white</a>
      </div>
    </div>
    <div class="dropdown">
      <button
        class="btn dropdown-toggle "
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        พื้นที่หน่วยความจำ
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">64GB</a>
        <a class="dropdown-item" href="#">128GB</a>
        <a class="dropdown-item" href="#">256GB</a>
        <a class="dropdown-item" href="#">512GB</a>
      </div>
    </div>

    <input
      type="email"
      class="form-control form-control-lg"
      id="exampleInputEmail2"
      aria-describedby="emailHelp"
      placeholder="จำนวน"
    />
    <input
      type="email"
      class="form-control form-control-lg"
      id="exampleInputEmail2"
      aria-describedby="emailHelp"
      placeholder="ราคาสินค้า"
    />
  </div>
  <hr />
  <div class="form-group2">
    <p class="textH">สเปคของสินค้า</p>
    <textarea
      class="form-control"
      id="exampleFormControlTextarea1"
      rows="3"
    ></textarea>
  </div>
  <button type="button" class="btn btn-primary btn-lg">เพิ่มสินค้า</button>
</div>
