<div>
    <div class="contact">
        <p class="textH">สมัครรับข่าวสาร</p>
        <p class="textP">เพื่อรับข่าวสารใหม่ๆ</p>
        <div class="input">
            <input type="text" placeholder="อีเมลคุณ" /><button>SUBSCRIBE</button>
        </div>
        
        <p class="textH">RisePhone</p>
        <p>เข้าสู่ระบบ</p>
        <p>สมัครสมาชิก</p>
        
    </div>
    <div class="brand">
        <p >
        <li class="textH">สมาร์ทโฟนและอุปกรณ์เสริม</li> 
        <li>Apple</li>
        <li>Samsung</li>
        <li>Oppo</li>
        <li>Huawei</li>
        <li>Xiaomi</li>
        </p>
        
        
    </div>
    <div class="location">
        <table>
            <tr>
                <td class="icon"><mat-icon>location_on</mat-icon></td>
                <td><p>444 Ratchada, Sam saen Nork, Huai Khawang, Bangkok, Thailand 10320</p></td>
            </tr>
            <tr>
                <td class="icon"><mat-icon>phone_icon</mat-icon></td>
                <td><p>092 983 5789</p></td>
            </tr>
            <tr>
                <td class="icon"><mat-icon>mail_outine_icon</mat-icon></td>
                <td><p>lmp.r@alumai.com</p></td>
            </tr>
            <tr>
                <td class="icon"><mat-icon>facebook</mat-icon></td>
                <td><p>ALUMAI@Shopping</p></td>
            </tr>
        </table>
      </div>
      
</div>

