<div>
    <div class="contact">
        <p class="textH">ติดตามเรา</p>
        <p class="textP">เพื่อรับข่าวสารใหม่ๆ</p>
        <input type="text" placeholder="อีเมลคุณ" />
        <button><p class="textP">สมัครรับข้อมูล</p></button>
      </div>
      <span></span>
      <div class="location">
          
          <p><mat-icon>location_on</mat-icon>444 Ratchada, Sam saen Nork, Huai Khawang, Bangkok, Thailand 10320</p>
          <mat-icon>facebook</mat-icon>
          <mat-icon >twitter</mat-icon>
          <!-- <mat-icon>instagram</mat-icon> -->
      </div>
      
</div>
