<app-top-bar></app-top-bar>
<div class="detail">


  <div class="topcom">

    <div class="img">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://cdn.shopify.com/s/files/1/1374/6193/products/IPHONE_11_BLACK_BACK_3b5a3413-8688-4e8b-8b19-bd34a50b7da1_800x.jpg?v=1586272468" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://cdn.shopify.com/s/files/1/1374/6193/products/IPHONE_11_BLACK_BACK_3b5a3413-8688-4e8b-8b19-bd34a50b7da1_800x.jpg?v=1586272468" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://cdn.shopify.com/s/files/1/1374/6193/products/IPHONE_11_BLACK_BACK_3b5a3413-8688-4e8b-8b19-bd34a50b7da1_800x.jpg?v=1586272468" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        

        
      </div>
      <div class="highlight">
        <div class="card w-160">
          <div class="card-body">
            <h3 class="card-title">ไฮไลท์ของ{{details.model}}</h3>
            <p class="card-text">กล้องคู่แบบอัลตร้าไวด์และไวด์ ความละเอียด 12MP
              อัลตร้าไวด์: รูรับแสงขนาด ƒ/2.4 และมุมมองภาพ 120°
              ไวด์: รูรับแสงขนาด ƒ/1.8
              ซูมออกแบบออปติคอล 2 เท่า
              ซูมดิจิตอลได้สูงสุด 5 เท่า
              โหมดภาพถ่ายบุคคลพร้อมโบเก้ที่สมจริงและการควบคุมระยะชัดลึก</p>
          
          </div>
        </div>
       
        
      </div>
      <p><b>การเล่นวิดีโอ</b><br>สูงสุด 17 ชั่วโมง<br>
        <b>การเล่นวิดีโอ (ผ่านการสตรีม)</b><br>
        สูงสุด 10 ชั่วโมง<br>
        <b>การเล่นเสียง</b><br>
        สูงสุด 65 ชั่วโมง<br>
        <b>ความสามารถในการชาร์จเร็ว:</b><br>
        ชาร์จได้สูงสุด 50% ใน 30 นาที10 ด้วยอะแดปเตอร์ขนาด 20 วัตต์ หรือสูงกว่า (จำหน่ายแยกต่างหาก)
แบตเตอรี่ลิเธียมไอออนชนิดชาร์จซ้ำได้ภายในตัวเครื่อง
ชาร์จแบบไร้สาย (ใช้ร่วมกับเครื่องชาร์จ Qi11)
ชาร์จจากเครื่องคอมพิวเตอร์ผ่านสาย USB หรือจากอะแดปเตอร์แปลงไฟ


      </p>
  
      

      
  
  
  
  
      
  
    </div>
    
  
  
  
    
    
    <div class="select" *ngIf="details">
      <div class="card w-50"  >
        <div class="top">
          {{ details.model }}
          
        </div>
    
        <div class="card-body">
          <div class="test">
            <p>เลือกสี</p>
            <button type="button" class="btn1 btn-outline-dark"></button>
            <button type="button" class="btn2 btn-outline-dark"></button>
            <button type="button" class="btn3 btn-outline-dark"></button>
            <div class="storage ">
              <p>เลือกความจุ</p>
              <button type="button" class="btn btn-outline-dark">128GB</button>
              <button type="button" class="btn btn-outline-dark">256GB</button>
              <button type="button" class="btn btn-outline-dark">512GB</button>
            </div>
            <div>
              <p>ราคาสินค้า</p>
              {{details.price}}
            </div>
          </div>
        </div>
    
        <div class="button">
    
    
          <button type="button" class="btn btn-secondary" (click)="addtocart(details)">
            เพิ่มใส่ตระกร้า
          </button>
    
          
          <br />
          <button type="button" class="btn btn-primary">
            ชำระเงิน
          </button>
        </div>
    
      </div>
    </div>

    
  </div>
  
 
    

    
   

  
</div>

