<app-top-bar></app-top-bar>
<div class="container">
 
  <div class="product">
    <div class="row">

     <div class="col-sm-8"><h2 >รถเข็นของคุณ</h2></div>
     <div class="col-sm-4" [routerLink]="['/home']"><a><P><u>เลือกสินค้าต่อ</u></P></a></div>

    </div>
    
   <hr>

   <div class="card" >


    

     
     

     <!-- {{itemCart.length}} -->
    
    <div class="card-body">
      <div class="row">
        <div class="col">
       
     <span *ngIf = "itemCart.length>0"> 
      {{itemCart[0].model}}
     </span>
        </div>
        <div class="col-md-auto" >
          <a (click)="increase()"> <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
          </svg></a>
          <br >
          
          {{itemCart.length}} <br>
          <a (click)="decrease()">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
              <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
            </svg>

          </a>
          
     
        </div>
        <div class="col col-lg-2">
          3 of 3
        </div>
      </div>
       
    </div>
  </div>
   
  </div>
  



   
   <!-- <div class="card w-100 ">
     <div class="card-body">
       <div class="row">
         <div class="col">
           รูปสินค้าจ้า
         </div>
         
         <div class="col-md-auto">
           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
             <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
             <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
           </svg><br>
 
 
           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
             <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
             <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
           </svg>
         </div>
         <div class="col col-lg-2">
           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
             <path d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z"/>
           </svg>
         </div>
       </div>
       
      
      
       
     </div>
   </div> -->
   
  
 
 

 <div class="pay">
  <div class="cost">
    <div class="card" style="width: 20rem;
    height: 27rem;">
      <div class="card-body">
        <h2 class="card-title ">สรุปคำสั่งซื้อ</h2>
        <p class="card-subtitle mb-2 text-muted">จำนวนสินค้า</p>
        <p class="card-subtitle mb-2 text-muted">ราคาสินค้า</p>
        <p class="card-subtitle mb-2 text-muted">การจัดส่ง</p>
        <p class="card-subtitle mb-2 text-muted">ภาษี</p>
        <p class="card-subtitle mb-2 text-muted">รวมเป็นเงิน</p>
        <button [routerLink]="['/checkout']"style="font-size: 12px;" type="button" class="btn btn-outline-primary">ชำระเงิน</button>      
      </div>
    </div>
  </div>
</div>


</div>