.container{
   
    width: 100%;
    height: 100%;
    margin: 1% 8%;
    display: flex;
    .product{
        width: 70%;
        height: 100%;
        margin-right: 10px;
        .card{
            margin-bottom: 15px;
            height: 14rem;

        }

    }
    .pay{
        height: 100%;


    }
    .span{
     flex: 1 1 auto;
    }
    


    
   
}
.col-md-auto  {
    line-height: 70px;
}
.col-lg-2 {
   
    text-align: end ;
}
hr {
    border-top: 1px solid rgb(15, 15, 15);
  }
.col-sm-4{
    margin-top: 40px;
    text-align: end;
}
.btn-outline-primary{
    margin-top: 6rem;
}