<div class="admin">  


    <a>
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
          </svg>

    </a>

    
    
    <h1>สามาชิกหมายเลข</h1>
    <hr>
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="ประวัติส่วนตัว">
            <div class="card">
                <div class="card-body">
                  <span> </span>
                  <a> <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-x"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
                      />
                    </svg></a>
          
                 
                </div>
                <button type="button" class="btn btn-outline-primary">
                  เพิ่มรูปสินค้า
                </button>
              </div>

            
            <form class="example-form" >
                
                <mat-form-field class="example-full-width">
                  <mat-label>ชื่อ</mat-label>
                  <input matInput placeholder="ชื่อ">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>นามสกุล</mat-label>
                    <input matInput placeholder="นามสกุล" >
                  </mat-form-field><br>
                  <mat-form-field class="example-full-width">
                    <mat-label>วัน/เดือน/ปีเกิด</mat-label>
                    <input matInput placeholder="วัน/เดือน/ปีเกิด" >
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                    <mat-label>เบอร์โทรศัพท์</mat-label>
                    <input matInput placeholder="เบอร์โทรศัพท์" >
                  </mat-form-field><br>

                  <mat-form-field class="example-full-width" style="width: 50%;">
                    <mat-label>อีเมล</mat-label>
                    <input matInput placeholder="อีเมล" >
                  </mat-form-field><br>
                  <mat-form-field class="example-full-width" style="width: 50%;">
                    <mat-label>รหัสผ่าน</mat-label>
                    <input matInput placeholder="รหัสผ่าน" type="password">
                  </mat-form-field><br>
    
                
              
                <mat-form-field class="example-full-width"style="width: 50%;">
                  <mat-label>ที่อยู่</mat-label>
                  <textarea matInput placeholder="ที่อยู่"></textarea>
                </mat-form-field>
              </form>
              <form class="example-form" >
                
                <mat-form-field class="example-full-width">
                  <mat-label>เลขบัตรเครดิต/เดบิต</mat-label>
                  <input matInput placeholder="เลขบัตรเดบิต">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>MM/YY</mat-label>
                    <input matInput placeholder="นามสกุล" >
                  </mat-form-field><br>
                  <mat-form-field class="example-full-width">
                    <mat-label>ชื่อบนบัตร</mat-label>
                    <input matInput placeholder="วัน/เดือน/ปีเกิด" >
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                    <mat-label>CVV</mat-label>
                    <input matInput placeholder="เบอร์โทรศัพท์" >
                  </mat-form-field><br>

                  
              </form>
              
              
        </mat-tab>




        
        <mat-tab label="การสั่งซื้อ">
            <div class="row">
                <div class="col">เลขออเดอร์</div>
                <div class="col">วันที่สั่งซื้อ</div>
                <div class="col">ช่องทางการชำระเงิน</div>
                <div class="col">ราคา</div>
                <div class="col">สถานะ</div>
                <hr>
              </div>



        </mat-tab>
        
        
      </mat-tab-group>
   

</div>

  
