<div class="test">
    <app-top-bar></app-top-bar>
    <div class="inProfile">
        <div class="menu-profile">
            <img src="https://static.toiimg.com/photo/msid-67586673/67586673.jpg?3918697" alt="image-profile">
            <p class="textP">จอน คอนเนอร์</p>
            <p class="textP">jonh.c@gmail.com</p>
            <li><a>โปรไฟล์</a></li>
            <li><a>ประวัติการซื้อ</a></li>  
        </div>
        <span></span>
        <div class="editProfile">
            <p class="textH">แก้ไขประวัติส่วนตัว</p>
            <table>
                <tr>
                    <td>
                        <form class="example-form">
                            <mat-form-field class="example-full-width">
                              <mat-label>ชื่อ-สกุล</mat-label>
                              <input matInput placeholder="Ex. Pizza" value="Sushi">
                            </mat-form-field>
                        </form>
                    </td>
                    <td>
                        <!-- <form class="example-form">
                            <mat-form-field class="example-full-width">
                                <mat-label>ชื่อ-สกุล</mat-label>
                                <input matInput placeholder="Ex. Pizza" value="kiki">
                              </mat-form-field>
                        </form> -->
                        
                    </td>
                </tr>
            </table>
            
              
        </div>
    </div>
    
</div>