<app-top-bar></app-top-bar>
<div class="test">
    <div class="inProfile">
        <div class="menu-profile">
            <img src="https://static.toiimg.com/photo/msid-67586673/67586673.jpg?3918697" alt="image-profile">
            <p class="textP">จอน คอนเนอร์</p>
            <p class="textP">jonh.c@gmail.com</p>
            <a ><li>โปรไฟล์</li></a>
            <a [routerLink]="['/history']"><li>ประวัติการซื้อ</li></a>
        </div>
        <span></span>
        <div class="editProfile">
            <p class="textH">แก้ไขประวัติส่วนตัว</p>
            <table>
                <tr >
                    <td >
                        <mat-form-field class="input">
                            <mat-label>ชื่อ</mat-label>
                            <input matInput  value="จอน">
                          </mat-form-field>
                    </td>
                    <td >
                        <mat-form-field class="input">
                            <mat-label>นามสกุล</mat-label>
                            <input matInput  value="คอนเนอร์">
                          </mat-form-field>
                    </td>
                </tr>
                <tr >
                    <td >
                        <mat-form-field class="input">
                            <mat-label>วัน/เดือน/ปี เกิด</mat-label>
                            <input matInput  value="2001-06-12">
                          </mat-form-field>
                    </td>
                    <td >
                        <mat-form-field class="input">
                            <mat-label>เบอร์โทรศัพท์</mat-label>
                            <input matInput  value="089-878-9652">
                          </mat-form-field>
                    </td>
                </tr>
                <tr >
                    <td >
                        <mat-form-field class="input">
                            <mat-label>อีเมล</mat-label>
                            <input matInput  value="jonh.c@gmail.com">
                          </mat-form-field>
                    </td>
                </tr>
                <tr >
                    <td >
                        <mat-form-field class="input">
                            <mat-label>เปลี่ยนรหัสผ่านใหม่</mat-label>
                            <input matInput  value="*********">
                          </mat-form-field>
                    </td>
                    <td >
                        <mat-form-field class="input">
                            <mat-label>ยืนยันรหัสผ่านใหม่</mat-label>
                            <input matInput  value="*********">
                          </mat-form-field>
                    </td>
                </tr>
            </table>
            <div >
                <mat-form-field appearance="fill"  class="textarea">
                    <mat-label >ที่อยู่</mat-label>
                    <textarea matInput ></textarea>
                </mat-form-field>
            </div>
            <table>
                <tr >
                    <td >
                        <mat-form-field class="input">
                            <mat-label>เลขบัตรเครดิต/เดบิต</mat-label>
                            <input matInput  value="xxxx">
                          </mat-form-field>
                    </td>
                    <td >
                        <mat-form-field class="input">
                            <mat-label>MM/YY</mat-label>
                            <input matInput  value="xxxx">
                          </mat-form-field>
                    </td>
                </tr>
                <tr >
                    <td >
                        <mat-form-field class="input">
                            <mat-label>ชื่อบนธนบัตร</mat-label>
                            <input matInput  value="xxxx">
                          </mat-form-field>
                    </td>
                    <td >
                        <mat-form-field class="input">
                            <mat-label>CVV</mat-label>
                            <input matInput value="xxxx">
                          </mat-form-field>
                    </td>
                </tr>
            </table>
            <button><a >บันทึกข้อมูล</a></button>  
        </div>
    </div>
</div>

