<app-top-bar></app-top-bar>
<div class="test">
    <div class="inProfile">
        <div class="menu-profile">
            <img src="https://static.toiimg.com/photo/msid-67586673/67586673.jpg?3918697" alt="image-profile">
            <p class="textP">จอน คอนเนอร์</p>
            <p class="textP">jonh.c@gmail.com</p>
            <a [routerLink]="['/profile']" ><li>โปรไฟล์</li></a>
            <a><li>ประวัติการซื้อ</li></a>  
        </div>
        <span></span>
        <div class="editProfile">
            <p class="textH">ประวัติการซื้อ</p>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef> เลขออเดอร์ </th>
                  <td mat-cell *matCellDef="let element" [routerLink]="['/history-detail']"> {{element.position}} </td>
                </ng-container>

                <ng-container matColumnDef="dateCard">
                    <th mat-header-cell *matHeaderCellDef> วันที่สั่งซื้อ </th>
                    <td mat-cell *matCellDef="let element" [routerLink]="['/history-detail']"> {{element.dateCard}} </td>
                  </ng-container>
                  
                <ng-container matColumnDef="dateCheckout">
                    <th mat-header-cell *matHeaderCellDef> วันที่ชำระเงิน </th>
                    <td mat-cell *matCellDef="let element" [routerLink]="['/history-detail']"> {{element.dateCheckout}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> ช่องทางการชำระเงิน </th>
                  <td mat-cell *matCellDef="let element" [routerLink]="['/history-detail']"> {{element.name}} </td>
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="weight">
                  <th mat-header-cell *matHeaderCellDef> ราคา </th>
                  <td mat-cell *matCellDef="let element" [routerLink]="['/history-detail']"> {{element.weight}} </td>
                </ng-container>
              
                <!-- Symbol Column -->
                <ng-container matColumnDef="symbol">
                  <th mat-header-cell *matHeaderCellDef> สถานะ </th>
                  <td mat-cell *matCellDef="let element" [routerLink]="['/history-detail']"> {{element.symbol}} </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
        </div>
    </div>
</div>

