<div class="fern">
  <!-- ................................................................................. -->
  <div class="register">
    <p class="example-full-width1">สร้างบัญชีของคุณ</p>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>ชื่อ</mat-label>
        <input matInput placeholder="ประยุทธ" />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>นามสกุล</mat-label>
        <input matInput placeholder="จันโอชา" />
      </mat-form-field>
      <mat-label class="example-full-width">เพศ</mat-label>
      <form class="example-full-width">
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio1"
            value="option1"
          />
          <label class="form-check-label" for="inlineRadio1">ชาย</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio2"
            value="option2"
          />
          <label class="form-check-label" for="inlineRadio2">หญิง</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio2"
            value="option2"
          />
          <label class="form-check-label" for="inlineRadio2">อื่นๆ</label>
        </div>
      </form>

      <mat-form-field class="example-full-width1">
        <mat-label>อีเมล</mat-label>
        <input matInput placeholder="lungtoo@gmail.com" />
      </mat-form-field>
      <mat-form-field class="example-full-width1">
        <mat-label>รหัสผ่าน</mat-label>
        <input matInput placeholder="123456789" type="password" />
      </mat-form-field>

      <mat-form-field class="example-full-width1">
        <mat-label>ยืนยันรหัสผ่าน</mat-label>
        <input matInput placeholder="68578555" type="password" />
      </mat-form-field>
      <mat-form-field class="example-full-width1">
        <mat-label>เบอร์ติดต่อ</mat-label>
        <input matInput placeholder="ตัวอย่าง:123456789" />
      </mat-form-field>
      <mat-form-field class="example-full-width1">
        <mat-label>ที่อยุ่</mat-label>
        <textarea
          matInput
          placeholder="ตัวอย่าง: 111/1 ถนน ศรีจันทร์ ต.ในเมือง อ.เมือง จ.เดมาเซีย 40000"
        ></textarea>
      </mat-form-field>

      <a>
        <button type="button" class="bt" (click)="register()">
          สร้างบัญชีผู้ใช้
        </button>
      </a>
    </form>
  </div>
  <div class="picturecompo">
    <p class="textH">ยินดีต้อนรับสู่ร้านอะลูมิไร</p>
    <p class="textP">ขอต้อนรับเข้าสู่เว็บไซต์เราเพื่อเข้าถึงการใช้งานต่างๆ</p>
    <table>
      <tr>
        <td><li>สามารถเลือกซื้อสินค้าได้</li></td>
      </tr>
      <tr>
        <td><li>กดเลือกสินค้าเข้าตะกร้า</li></td>
      </tr>
      <tr>
        <td><li>ชำระเงินเพื่อยืนยันการซื้อ</li></td>
      </tr>
    </table>
    
    
      

  </div>
</div>
