<div class="tests">
  <div class="fern">
    <!-- ................................................................................. -->

    <div class="register">
      <p class="example-full-width1">สร้างบัญชีของคุณ</p>
      <form [formGroup]="registerForm" class="example-form" (ngSubmit)="submit()" >
        <mat-form-field class="example-full-width">
          <mat-label>ชื่อ</mat-label>
          <input formControlName="fName" 
          matInput placeholder="ประยุทธ" 
          required/>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>นามสกุล</mat-label>
          <input formControlName="lName" 
          matInput placeholder="จันโอชา" 
          required />
        </mat-form-field>

        <mat-radio-group class="example-full-width" aria-label="เพศ" style="width: 100%;">
          <mat-label>เพศ</mat-label><br>
          <mat-radio-button value="1">Option 1</mat-radio-button>
          <mat-radio-button value="2">Option 2</mat-radio-button>
        </mat-radio-group>

        <!-- <mat-form-field class="example-full-width">
          <mat-label>เพศ</mat-label>
          <input formControlName="gender" 
          matInput placeholder="" 
          required />
        </mat-form-field> -->

        <mat-form-field class="example-full-width">
          <mat-label>วันเกิด</mat-label>
          <input formControlName="dob" 
          matInput placeholder="" 
          required />
        </mat-form-field>
        
        <!-- <form class="example-full-width">
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio1"
              value="option1"
            />
            <label class="form-check-label" for="inlineRadio1">ชาย</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio2"
              value="option2"
            />
            <label class="form-check-label" for="inlineRadio2">หญิง</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio2"
              value="option2"
            />
            <label class="form-check-label" for="inlineRadio2">อื่นๆ</label>
          </div>
        </form> -->
  
        <mat-form-field class="example-full-width1">
          <mat-label>อีเมล</mat-label>
          <input formControlName="email" 
          type="email" matInput 
          placeholder="lungtoo@gmail.com" 
          required/>
        </mat-form-field>
        <mat-form-field class="example-full-width1">
          <mat-label>รหัสผ่าน</mat-label>
          <input formControlName="password" 
          type="password" matInput 
          placeholder="123456789" 
          type="password" 
          required/>
        </mat-form-field>
  
        <!-- <mat-form-field class="example-full-width1">
          <mat-label>ยืนยันรหัสผ่าน</mat-label>
          <input matInput placeholder="68578555" type="password" />
        </mat-form-field> -->
       
        <input type="text" [disabled]="true" formControlName="test">
        <mat-form-field class="example-full-width1" >
          <mat-label >เบอร์ติดต่อ</mat-label>
          <input [disabled]="true" matInput  placeholder="ตัวอย่าง:123456789"
          formControlName="tel"
          
           />
        </mat-form-field>
        <mat-form-field class="example-full-width1">
          <mat-label>ที่อยุ่</mat-label>
          <textarea
            matInput
            placeholder="ตัวอย่าง: 111/1 ถนน ศรีจันทร์ ต.ในเมือง อ.เมือง จ.เดมาเซีย 40000"
            formControlName="address"
            required
          ></textarea>
        </mat-form-field>
  
        
          <button type="submit" class="bt" >
            สร้างบัญชีผู้ใช้
          </button>
        

      </form>
    </div>
    <div class="picturecompo">
      <p class="textH">ยินดีต้อนรับสู่ร้านอะลูมิไร</p>
      <p class="textP">ขอต้อนรับเข้าสู่เว็บไซต์เราเพื่อเข้าถึงการใช้งานต่างๆ</p>
      <table>
        <tr>
          <td><li>สามารถเลือกซื้อสินค้าได้</li></td>
        </tr>
        <tr>
          <td><li>กดเลือกสินค้าเข้าตะกร้า</li></td>
        </tr>
        <tr>
          <td><li>ชำระเงินเพื่อยืนยันการซื้อ</li></td>
        </tr>
      </table>
    </div>
  </div>
</div>

