
    .navbar-brand{
      font-size: 13px;
      align-items: flex-end;
     
   
   
      
  
  
    }
    .navbar-brand-king {
      text-align: start;
    }
  
  
  
  
  
  
  .navbar2{
    justify-content: space-between;
   text-align: end;
   margin: 14px;
   display: flex;

  
   
   
  
    }
  
  
  
  

  