.navbar3{
    text-align: center;
    border: black solid ;
  align-items: center;
  
  
  
    }
    .navbar-brand{
      font-size: 16px;
      animation: alternate
  
  
    }
  
    .order-5
    {
      justify-content: space-between;
  
    text-align: end;
    }
  
  
  
  
  
  .navbar2{
    text-align: center;
    .navbar-brand{
      font-size: 12px;
  
    }
  
    }
  .icons {
    // display: inline-flex;
    // border: red solid ;
   justify-content: end;
  
  
  }
  
  .all {
    display: flex;
  
    border: green solid 2px;
  
  
  }
  
  .span {
  
    border: green solid 2px;
  
  
  }
  