<nav class="navbar2 navbar-default navbar-fixed-top">
  <a class="navbar-brand-logo" href="#">
    <img
      src="https://image.makewebeasy.net/makeweb/0/2nwV5DRjJ/Logo/King_Power_1.png"
      class="d-inline-block align-top"
      alt=""
    />
  </a>

  <div class="linkbar">
    <a class="navbar-brand" href="#">หน้าแรก</a>
    <a class="navbar-brand" href="#">สมาร์ทโฟน</a>
    <a class="navbar-brand" href="#">อุปกรณ์เสริม</a>
    <a class="navbar-brand" href="#">ประวัติการซื้อ</a>
    <a class="navbar-brand" href="#">ติดต่อเรา</a>
  </div>

  <div class="linkbaricon">
    <input type="text" placeholder="search" >
    <div>
      <mat-icon style="color: white;">shopping_cart</mat-icon>
      <button mat-button [matMenuTriggerFor]="beforeMenu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button mat-menu-item [routerLink]="['/login']"><p>เข้าสู่ระบบ</p></button>
        <button mat-menu-item [routerLink]="['/registerpage']"><p>สม้ครสมาชิก</p></button>
      </mat-menu>
    </div>
  </div>

</nav>
